@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.custom-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    background-color:#FEF5FA!important; 
    color: #3F87F5!important;
    align-items: center;
}
.card{
    border: 0px!important;
}

.custom-card-body{
    background-color: #3F87F5!important;
    padding:1rem .5rem!important;
    border-radius: 1rem;
}
footer{
    background-color: #0B0D17;
    padding: 5rem 0px;
}

.custom-value{
    left: 83%!important;
}